body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px;
}
main {
    display: flex;
    flex-direction: row;
    gap: 30px;
    border: 2px solid black;
    margin: 20px;
    padding: 100px;
}
img {
    border-radius: 5px;
}