.textao {
    color: chartreuse;
   font-family: "Fira Code", "Source Code Pro", "Cascadia Code", "Hack", "Inconsolata", "JetBrains Mono", monospace;
   text-align: center;
    
}

body {
    margin: 0;
    padding: 0;
    
    background-color: #a99696;
    overflow: auto;
}
p {
    color: white;
    font-family: sans-serif;
    text-align: center;
}
li:hover {
    background-color: white;
}

li:active {
    color: red;
}

#block-one {
   
    background-color: blue;
    padding: 30px;
    
}

#block-two {
    padding: 50px;
    border-radius: 20px;
    background-color: brown;
    margin: 100px;
}

.titulo-container {
    border: 1px solid white;
    margin: 15px;
}

#container-dois {
    border: 1px solid white;
    margin: 15px;
}
