body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F0F2F5;
}

#titulo {
    display: flex;
    justify-content: center;
    background-color: #2D4A22;
    height: 238px;
    color: white;
    position: relative;
    width: 100%;

}

#receita {
    display: flex;
    position: absolute;
    flex-direction: row;
    z-index: 100px;
    top: 120px;
    left: 350px;
}

.fluxo {
    margin: 30px;
    width: 352px;
    height: 136px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

}

.fluxo-dois {
    margin: 30px;
    width: 352px;
    height: 136px;
    background-color: #49AA26;
    border-radius: 5px;

}

#tabela {

    margin-left: 440px;
    margin-top: 150px;
    left: 400px;
    border-spacing: 0 0.5rem;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;

}

table th {
    background-color: white;
    opacity: 0.6;
    color: #969cb3;
    text-align: left;
}

table td {
    height: 40px;
    width: 220px;
    background-color: white;
    border-collapse: collapse;
}

footer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1634px) {
    #receita {
        display: flex;
        position: absolute;
        left: 80px;
    }
     footer {
       
        color: rgb(34, 33, 33);
        margin-top: 120px;
    }




}

@media (max-width: 1351px) {
    #receita {
        display: flex;
        top: 250px;
        flex-direction: column;
    }

    #tabela {
        margin-left: 10px;
        margin-top: 750px;
        width: 75%;
        left: 400px;
        border-spacing: 0 0.5rem;
        text-align: left;
        font-family: 'Courier New', Courier, monospace;


    }

    #perseveranca {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer {
        background-color: #2D4A22;
        color: white;
        margin-top: 120px;
    }
}

@media screen and (max-width: 484px) {
    #receita {
        display: flex;
        flex-direction: column;
        top: 250px;
        left: 40px;
    }
}