body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e293b;
}

#form {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   margin: 50px;
   border-radius: 5px;
   background-color: blueviolet;
   margin-top: 250px;
   max-width: 200px auto;
}

.entrada {
}

